// Vendor
// ---------------------------------
@import "vendor/mixins";
@import "vendor/variables";

@import "vendor/fonts";
@import "vendor/global";

@import "vendor/normalize";

@import "vendor/body";
@import "vendor/hero";
@import "vendor/header";
@import "vendor/swiper";
@import "vendor/about";
@import "vendor/programs";
@import "vendor/grant";
@import "vendor/news";
@import "vendor/questins";
@import "vendor/reviews";
@import "vendor/contacts";
@import "vendor/form";
@import "vendor/footer";